<a href="https://colab.research.google.com/github/7ayush/DataScience/blob/main/ML_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ayush Kaushik 101903619 Basics of Python Assignment

In [ ]:
# Question-1
s = "Hi there Class!"
list=s.split();
print(list);

['Hi', 'there', 'Class!']

In [ ]:
# Question-2
planet = "Earth"
diameter = 12742
print("The diameter of "+planet+" is "+str(diameter)+" kilometers.")

The diameter of Earth is 12742 kilometers.

In [ ]:
# Question-3
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
print(lst[3][1][2][0]);

hello

In [ ]:
# Question-4
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d["k1"][3]["tricky"][3]["target"][3]

'hello'

In [ ]:
# Question-5
mail="user@domain.com"
lst=(mail.split("@"))
print("www."+lst[1])

www.domain.com

In [ ]:
# Question-6
def find(a,c):
  if a.find(c)!=-1:
    print("True")
  else:
    print("False")
    
a="I have a dog"
b="I have a cat"
c="dog"
find(a,c)
find(b,c)

True
False

In [ ]:
# Question-7
def count(a,c):
  print(a.count(c))
    
a="I have a dog dog dog dog"
b="I have a cat dog "
d="I have a cat"
c="dog"
count(a,c)
count(b,c)
count(d,c)

4
1
0

In [ ]:
# Question-8
def nos(s):
    if s[0] == 's':
        return False
    else:
        return True
seq = ['soup','dog','salad','cat','great']
x = filter(nos, seq)
for i in x:
    print(i)

dog
cat
great

In [ ]:
# Question-9
def fine(x,y):
    if y == True:
        x = x-5
    if x <= 60:
        return "No Challan"
    elif x>60 and x<=80:
        return "Small Challan"
    else:
        return "Heavy Challan"
print(fine(82,False))

Heavy Challan

In [ ]:
# Question-10
list1 = ["M", "na", "i", "She"]
list2 = ["y", "me", "s", "lly"]
x = []
for i in range(len(list1)):
    x.append(list1[i]+list2[i])
x

['My', 'name', 'is', 'Shelly']

In [ ]:
# Question-11
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
x = []
for i in range(len(list1)):
    for j in range(len(list2)):
        x.append(list1[i]+list2[j])
x

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
# Question-12
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
# Question-13
list1 = [5, 20, 15, 20, 25, 50, 20]
rem = 20
for i in list1:
        if(i == rem):
            list1.remove(i)
list1

[5, 15, 25, 50]

In [ ]:
# Question-14
d1 = {'a': 100, 'b': 200, 'c': 300}
val = 200
if val in d1.values():
    print("Yes")
else:
    print("No")

Yes

In [ ]:
# Question-15
def findSum(n):
    sum = 0
    ans = 0
    for i in range(n):
        sum = sum*10 + 2
        ans = ans + sum
    return ans    
         
findSum(4)

2468